.voting-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .radio-list {
    display: flex;
    .ant-radio-wrapper {
      margin: 0 20px 0 0 !important;
      &:hover {
        .card-container {
          .bottom-container {
            border: 3px solid #1FCE65;
          }
        }
      }
      &:last-child {
        margin: 0 !important;
      }
      span {
        padding: 0 !important;
      }
      .ant-radio {
        display: none !important;
      }
    }

    .not-selectable {
      &:hover {
        cursor: default !important;
        .card-container {
          .bottom-container {
            border: 3px solid #EDEDED !important;
          }
        }
      }

      .card-container {
        .bottom-container {
          border: 3px solid #EDEDED !important;
          justify-content: space-between !important;
          .checkbox-container {
            display: none !important;
          }
          .details {
            cursor: pointer;
          }
        }
      }
    }

    .ant-radio-wrapper-checked {
      .card-container {
        .bottom-container {
          border: 3px solid #1FCE65;
          .checkbox {
            background-color: #1FCE65;
            border: 3px solid #1FCE65;
          }
        }
      }
    }
  }

  .bottom-caption {
    font-size: 20px;
    margin-top: 50px;
    span {
      color: #1FCE65;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.confirm-modal {
  .ant-modal-content {
    opacity: 0.7;
    background-color: #0E151F !important;
    .ant-modal-close-x {
      color: #FFFFFF !important;
    }
  }
  .ant-modal-body {
    padding: 20px 50px;
    .confirm-modal-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .confirm {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #FFFFFF;
        padding-bottom: 20px;
        margin-bottom: 20px;
        .box {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 75px;
          height: 50px;
          border: 2px solid #FFFFFF;
          margin-right: 15px;
          .anticon {
            color: #FFFFFF;
            font-size: 32px !important;
          }
        }
        h1 {
          font-weight: bold;
          font-size: 32px;
          color: #FFFFFF !important;
          margin: 0 !important;
          opacity: 1 !important;
        }
      }
      span {
        color: #FFFFFF;
        font-size: 18px;
      }
    }
  }
}
