.voting-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .voting-header {
    width: 100%;
    .date {
      display: flex;
      margin: 10px 0;
      h2 {
        font-size: 32px;
        color: #1FCE65;
        font-weight: bold;
        margin: 0 !important;
      }
      .line {
        bottom: 8px;
        margin-left: 5px;
        position: relative;
        width: 100% !important;
        border-bottom: 2px solid #1FCE65;
      }
    }
    p {
      font-size: 32px;
      font-weight: bold;
      margin: 10px 0 20px 0 !important;
    }
  }

  .movies-list {
    display: flex;
    .card-container {
      margin-left: 10px;
      &:nth-child(1) {
        margin: 0 !important;
      }
    }
  }
}
