.footer-container {
  height: 10%;
  box-shadow: 0px 0px 5px rgba($color: #222222, $alpha: 0.2);

  .repository-link {
    margin-top: 5px;

    a {
      color: #222;
      &:focus,
      &:hover {
        color: #555;
      }
      span {
        margin-left: 5px;
      }
    }
  }
}
