.footer-container {
  height: 10%;
  border-top: 1px solid #ededed;

  .repository-link {
    margin-top: 5px;

    a {
      color: #222;
      &:focus,
      &:hover {
        color: #555;
      }
      span {
        margin-left: 5px;
      }
    }
  }
}
